In [1]:
def test():
   return
test()
2

2

In [1]:
import turtle as tt

colors=['red','blue','orange','yellow','green','purple']
a1=tt.Turtle()
for x in range (360):
    a1.pencolor(colors[x%6])
    a1.width(x/100+1)
    a1.forward(x)
    a1.left(59)
    
tt.done

In [2]:
class Demo:
   def test(self):
       print("test() for the class and method")
       return
obj=Demo()
obj.test()

test() for the class and method

In [1]:
#Create a series by passing a list of values
import pandas as pd
a = pd.Series([1,3,4,5,6,7])
print(a)

0    1
1    3
2    4
3    5
4    6
5    7
dtype: int64

In [2]:
#Missing values then it can be nan of numpy
import numpy as np
import pandas as pd
a1 = pd.Series([1,2,3,4,np.nan,6])
print(a1)

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    6.0
dtype: float64

In [3]:
# Create a list of dates with in particular range
dates = pd.date_range('20190601',periods=10)
print(dates)

DatetimeIndex(['2019-06-01', '2019-06-02', '2019-06-03', '2019-06-04',
               '2019-06-05', '2019-06-06', '2019-06-07', '2019-06-08',
               '2019-06-09', '2019-06-10'],
              dtype='datetime64[ns]', freq='D')